CompileFlags:
  Add: [
    #修改成你的arm-none-eabi的include目录
    -I/opt/arm_gcc/arm-none-eabi/include,
    #修改成你的arm-none-eabi的目录
    --sysroot=/opt/arm_gcc/arm-none-eabi,

    --target=arm-none-eabi,
    #修改成你的mcu
    -mcpu=cortex-m0plus,
    -mthumb,
    -mfloat-abi=soft
  ]
Diagnostics:
  Suppress: ["unused-includes"]
